.edge-trigger {
    position: absolute;
    z-index: 100;
    border: 2px solid red;
}

.edge-trigger-status-bar {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 40%; 
    height: 12px;
}

.edge-trigger-launcher {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 40%;
    height: 12px;
}

.edge-trigger-left {
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 60%;
    width: 6px;
}

.edge-trigger-volume {
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 40%;
    width: 12px;
}